<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>
<body class="container">
  <%- include('./partials/_navbar.ejs') %> 

  <a href="/users/profiles/<%= id %> "><button>My Profile</button></a>
  
  <h1>BOOK PAGE</h1>

  <% if (role === 'Admin') { %>
    <a href="/books/add"><button>Add New Book</button></a>
  <% } %>
  <% if (role === 'Admin') { %>
    <a href="/users"><button>List Registered User</button></a>
  <% } %>
  

  <br>
  <br>

  <form action="/books" method="get">
    <input type="text" name="search" placeholder="search by tittle..." value= <%= search ? search : "" %>>
    <select name="filterCategory">
      <option value="">All Category</option>
      <% categories.forEach(el => { %>
       <option value="<%= el.id %>" <%= el.id == filterCategory ? 'selected' : "" %> ><%= el.name %></option>
      <% }) %>
    </select>
    <select name="sort">
      <option value="">All</option>
      <option value="title A-Z" <%= sort == "title A-Z" ? 'selected' : "" %> >title A-Z</option>
      <option value="title Z-A" <%= sort == "title Z-A" ? 'selected' : "" %> >title Z-A</option>
    </select>
    <select name="filterAvailable">
      <option value="">All</option>
      <option value="filterAvailable" <%= filterAvailable == "filterAvailable" ? 'selected' : "" %> >Available Only</option>
    </select>
    <input type="submit" value="Search">
  </form>


  <br>
  <table border="1">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Category</th>
        <th>Created At</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(el => { %>
      <tr>
        <td><center><img src="<%= el.imgCover %>" height="200"></center></td>
        <td><%= el.title %></td>
        <td><%= el.isbn %></td>
        <td><%= el.Category.name %></td>
        <td><%= el.formatedDate %></td>
        <td><%= el.description %></td>
        <td>
          <% if (el.UserId == null) { %>
            <center><a href="/books/<%= el.id %>/borrow"><button>Borrow</button></a></center> 
            <% if (role === 'Admin') { %>
              <center>
              <a href="/books/<%= el.id %>/delete"><button>Delete</button></a>  
              </center>
            <% } %>
          <% }else { %>
            <%= 'Book is not available' %> 
          <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>