<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>
<body>
  <a href="/users/profiles/<%= id %> ">My Profile</a>
  <a href="/logout">logout</a>
  <h1>BOOK PAGE</h1>

  <% if (role === 'Admin') { %>
    <a href="/books/add"><button>Add New Book</button></a>
  <% } %>
  

  <br>
  <br>
  <form action="/books" method="get">
    <input type="text" name="search" placeholder="search by tittle...">
    <input type="submit" value="Search">
  </form>

  <br>
  <table border="1">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Category</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(el => { %>
      <tr>
        <td><center><img src="<%= el.imgCover %>" height="200"></center></td>
        <td><%= el.title %></td>
        <td><%= el.isbn %></td>
        <td><%= el.Category.name %></td>
        <td><%= el.description %></td>
        <td>
          <% if (el.UserId == 0) { %>
            <a href="/books/<%= el.id %> borrow"><button>Borrow</button></a> 
          <% }else { %>
            <%= 'Book is not available' %> 
          <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>