<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
</head>
<body class="container">
  <%- include('./partials/_navbar.ejs') %> 

  <h1><%= user.username %> Profiles </h1>
  <a href="/books"><button>Books List</button></a>
  <a href="/users/profiles/<%= user.id %>/edit"><button>Edit Profiles</button></a>

  <div>
    <p>
      Full Name <br>
      <%= user.Profile?.fullName %> 
    </p>
    <p>
      Address <br>
      <%= user.Profile?.address %> 
    </p>
    <p>
      Total Books Borrowed <br>
      <%= user.Profile?.totalBorrowed %> 
    </p>
  </div>

  <div>
    <table border="1">
      <thead>
        <tr>
          <th>Cover</th>
          <th>Title</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% user.Books.forEach(el => { %>
        <tr>
          <td><center><img src="<%= el.imgCover %>" height="200"></center></td>
          <td><%= el.title %></td>
          <td><%= el.description %></td>
          <td>
            <a href="/books/<%= el.id %>/return"><button>Return</button></a> 
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>