<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Users</title>
</head>
<body class="container">
  <%- include('./partials/_navbar-nologin.ejs') %> 

  <h1>List Registered User</h1>

  <a href="/books"><button>Books List</button></a>

  <br>
  <br>
  <table border="1">
    <thead style="text-align:center">
      <tr>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>Books Borrowed</th>
      </tr>
    </thead>

    <tbody>
      <% users.forEach(el => { %>
        <tr style="text-align:center">
          <td><%= el.username %></td>
          <td><%= el.Profile?.fullName %></td>
          <td><%= el.Profile?.address %></td>
          <td><%= el.Profile?.totalBorrowed %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>